DATABASE_URL="postgresql://resolve:resolve@localhost:5432/resolve_ai?schema=public"
DATABASE_URL_TEST="postgresql://resolve:resolve@localhost:5433/resolve_ai_test?schema=public"
# gere com: openssl rand -base64 32
AUTH_SECRET=
AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Resolve Aí"
